@import "@/styles/variables.scss";

.selectAstronaut {
  position: absolute;

  left: 150px;
  bottom: 4.5rem;
}

.selectAstronautContainer {
  display: flex;
  gap: 16px;
}

.inactiveAstronaut {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 15px;
  opacity: 0.1744;
  background: $white;

  &:hover {
    cursor: pointer;
  }
}

.activeAstronaut {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 15px;
  background: $white;

  &:hover {
    cursor: pointer;
  }
}
