@import "@/styles/variables.scss";

.crewContent {
  display: flex;
}

.crewInfo,
.crewImage {
  width: 50%;
}

.crewInfo {
  margin-top: 80px;

  h1,
  h3,
  p {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h3 {
    color: $white;
    font-family: $bellefair;
    font-size: 3.2rem;

    text-transform: uppercase;
    opacity: 0.5042;
  }

  h1 {
    color: $white;
    font-family: $bellefair;
    font-size: 5.6rem;

    text-transform: uppercase;

    padding: 1.6rem 0 2.4rem 0;
  }

  p {
    color: $blue-50;
    font-family: $barlow;
    font-size: 1.8rem;

    line-height: 3.2rem; /* 177.778% */

    width: 444px;
  }
}

.crewImage {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    margin-top: auto;

    object-fit: contain;
    height: 480px;
    width: auto;
  }
}
