@import "@/styles/variables.scss";

.container {
  width: 100vw;
  height: 100vh;

  background: $blue-800 url("/homepage-background.jpg") no-repeat center;
  background-size: cover;
}

.homehero {
  display: flex;

  position: relative;
}

.homeheroContent {
  margin-left: 100px;
  margin-top: 100px;

  h2 {
    color: $blue-50;
    font-family: $barlow;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;

    padding-bottom: 24px;
  }

  h1 {
    color: $white;
    font-family: $bellefair;
    font-weight: 400;
    font-size: 15rem;
    line-height: normal;

    padding-bottom: 24px;
  }

  p {
    color: $blue-50;
    font-family: $barlow;
    width: 444px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
  }
}

.homeheroAction {
  position: absolute;
  right: 150px;
  bottom: 50px;

  a {
    text-decoration: none;

    text-transform: uppercase;

    color: $blue-800;
    font-family: $bellefair;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }
}

.oval {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 250px;
  background: $white;

  transition: outline linear 0.2s;

  &:hover {
    outline: 50px solid #2c345c;
  }
}
